.card{
    display: flex; 
    flex-flow: column;
    align-items: center;
    width: 20rem;
    min-height: 22rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.heading{
    min-width: 8rem;
    height: 4rem;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    /* border-radius: 2rem 0rem 2rem 0rem; */
    /* background-color: rgba(101, 101, 238, 0.643); */
    /* color: white; */
    color: var(--dim-hightlight);
}
.heading h3{
    font-weight: 400;
}

.img-container{
    padding: 1rem;
    width: 100%;
}
.img-container img{
    width: 100%;
}
.progress{
    background-color: var(--trans-dim-hightlight);
    width: 100%;
    height: 1rem;
    justify-content:flex-end;
    position: absolute; 
     bottom: 0px; 
    overflow: hidden;
}
.progress-bar{
    
    height: 3rem;
    /* background-color: rgba(101, 101, 238, 0.643); */
    background-color: var(--dim-hightlight);
}
.js{
   background-color: var(--js-yellow); 
   color: white;
}
.js-trans{
    background-color: var(--trans-js-yellow);
}
.py{
    background-color: var(--py-green); 
    color: white;
}
.py-trans{
    background-color: var(--trans-py-green);
    
}
.html{
    /* background-color: var(--hightlight); */
    background-color: rgb(255, 77, 0);
    color: white;
}
.html-trans{
    background-color: var(--trans-hightlight);

}
.react{
    background-color: var(--react-blue);
    color: white;
}
.react-trans{
    background-color: var(--trans-react-blue);

}