:root{
  --hightlight:#ff3131;
  --trans-hightlight:#ff313180;
  --dim-nav-letter:#545454;
  --dim-hightlight:#930b0b;
  --trans-dim-hightlight:#930b0b7e;
  --js-yellow:#ddd34c;
  --trans-js-yellow:#ddd34c88;
  --py-green:#3d9936;
  --trans-py-green:#3d99367c;
  --react-blue:#56b4dd;
  --trans-blue:#1888b88b;
  --html-oragne:orange
}
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mainContainer{
  width: 100wh;
  height: 100vh;
  padding: 0;
  display: flex;
}
.pages{
  display: flex;
  width: 100%;
  height: 100vh;
  /* background-color: purple; */
}

.m-nav{
padding-inline-start: .4rem;
padding: .4rem;
display:none;
}
.m-nav button{
  width: 2rem;
  height: 3rem;
  font-size: 2rem;
  border: 1px solid black;
  background-color:none;
  border-radius: 1rem;
}
@media only screen and(width < 800px){
  .m-nav{
    display: block;
  }
}